body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/* Layout */

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  align-items: space-between;
  gap: 1em;
}

.timer {
  text-align: center;
}

/* Typography */

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 3rem;
}

header p {
  margin-top: 0;
}

#countdown {
  font-size: 5em;
  font-weight: 700;
  margin: 0;
}

button {
  padding: 1em 2.5em;
  border-radius: 6px;
  font-weight: 700;
}

.btn-work {
  background-color: #eb5353;
  color: #000000;
}

.short-break {
  background-color: #f9d923;
}

.long-break {
  background-color: #36ae7c;
}

button:hover {
  cursor: pointer;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: bottom;
  padding: 5px;
  border-radius: 20px;
}

img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

@media (max-width < 800) {
  img {
    width: 100%;
  }
}
